* {
  margin: 0;
  padding: 0;
}

.calculator {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.calculator .screen {
  border: 2px solid black;
  height: 32px;
  width: 187px;
}

.screen p {
  text-align: end;
}

h1 {
  text-align: center;
  margin-bottom: 16px;
}

.calculator .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: max-content;
  border: 2px solid black;
  align-items: flex-start;
  width: 175px;
  align-content: flex-start;
  gap: 5px;
  justify-content: center;
  padding: 6px;
}

.button {
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wide {
  border: 2px solid black;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  display: inline-block;
  height: 25px;
  width: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wide:hover {
  background-color: grey;
  cursor: pointer;
}

.button:hover {
  background-color: grey;
  cursor: pointer;
}

.highlighted {
  background-color: orange;
}
